#lyrics-container {
	color: black;
	background-color: white;
	border-color: #15c182;
}

#lyrics-topbar {
	color: white;
	background-color: #15c182;
}

#glyrics-content,#glyrics-content * {
	color: black;
}

#glyrics-content a:LINK {
	color: #1F7857;
}

#glyrics-content a:VISITED {
	color: #1F7857;
}

#glyrics-content::-webkit-scrollbar-thumb {
	border-color: #CFCFCF;
	background-color: #CFCFCF;
}

#glyrics-content::-webkit-scrollbar-track {
	background-color: #EEEEEE;
}

#glyrics-content::-webkit-scrollbar-corner {
	background-color: #EEEEEE;
}