@charset "utf-8";
@font-face {
    font-family: 'Calligraffitti';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Calligraffitti.ttf');
}

@font-face {
    font-family: 'Courgette';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Courgette.ttf');
}

@font-face {
    font-family: 'CraftyGirls';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/CraftyGirls.ttf');
}

@font-face {
    font-family: 'GloriaHallelujah';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/GloriaHallelujah.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Inconsolata.ttf');
}

@font-face {
    font-family: 'Slabo27px';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Slabo27px.ttf');
}

@font-face {
    font-family: 'WalterTurncoat';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/WalterTurncoat.ttf');
}

body {
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	color: rgb(48, 57, 66);
	margin: 0px;
	background-color: #f8f9fa;
}

hr {
	border-color:transparent;
	border-width:1px;
	border-top-color:rgb(250,250,250);
}

h1 {
	position: fixed;
	width: 100%;
	background-color: #3367d6;
	color: white;
	margin: 0px;
	padding: 19px;
	font-size: 137%;
    font-weight: 400;
    letter-spacing: .25px;
    line-height: normal;
}

h3 {
	color: black;
	font-size: 1.2em;
	margin-bottom: 0.8em;
}

input[type="radio"]{
	margin-top:-2px;
    vertical-align: middle;
}

.warning {
	color: orangered;
}

#color-slider{
	width:300px;
	margin-left:20px;
}

#color-slider.ui-slider{
	height: 20px;
	background: -webkit-linear-gradient(left, #ff0000 0%,#ffff00 16.66666666666667%,#00ff00 33.33%,#00fffe 50%,#0000ff 66.66666666666667%,#fe00ff 83.33333333333333%,#ff0000 100%);
	/*background: linear-gradient(to right,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000);
*/
}
#color-slider .ui-slider-handle{
	height: 20px;
	display:block;
	position: relative;
	width:5px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 1px;
}

label {
	display: -webkit-inline-box;
}

.option{
	padding-bottom: 10px;
	padding-top: 10px;

}

.option2 {
	display: -webkit-inline-box;
	padding-bottom: 5px;
	margin-left: 25px;
}
span.caption {
	font-weight:bold;
}

#content {
	display:block;
	align-content: center;
	margin: 0 auto;
	width: 600px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 60px;
}

#optionsContainer {
	display: inline-block;
}

.option-label {
	font-weight: normal;
}

section {
	margin-top: 10px;
	margin-left: 0px;
	padding-bottom: 10px;
	display: inline-block;
}

.settings-box {
	background-color: white;
	width: 385px;
	padding: 10px;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2), 1px 0px 7px 0px rgba(0, 0, 0, 0.19);
}

#buttons{
	padding-bottom: 20px;
	padding-right: 50px;
}

#save, #close {
	width: 60px;
	height: 22px;
}

#reset {
	float: right;
	height: 22px;
}

#previewPane {
	margin-left: 50px;
	vertical-align: top;
}

.colorbox {
	width: 60px;
	height: 10px;
	padding: 5px 5px 5px 5px;
	border: 1px solid black;
	display: inline-block;
	margin: 2px 2px 2px 2px;
	cursor: pointer;
}

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}

.black {
	background-color: black;
}

#fontList{
	width: 300px;
}

.font-item {
	padding: 5px 5px 5px 5px;
	border: 1px solid black;
	display: inline-block;
	margin: 2px 2px 2px 2px;
	cursor: pointer;
	height: 20px;
	vertical-align: text-top;
}

.DefaultFont{
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.CraftyGirls {
	font-family: 'CraftyGirls';
}

.Calligraffitti {
	font-family: 'Calligraffitti';
}

.WalterTurncoat {
	font-family: 'WalterTurncoat';
}

.GloriaHallelujah {
	font-family: 'GloriaHallelujah';
}

.Inconsolata {
	font-family: 'Inconsolata';
}

.Courgette {
	font-family: 'Courgette';
}

.Slabo27px {
	font-family: 'Slabo27px';
}

.selected {
	/*border: 3px dotted gray;*/
	background-color: #FFCC66;
}

#lyrics-container {
	border: solid 2px;
	background-color: white;
	border-color: #F44336;
	opacity:0.9;
	height: 300px;
	position:relative;
	
}

#lyrics-topbar {
	padding: 6px 5px 4px 5px;
	background-color: #F44336;
	color: white;
	height: 20px;
	font-weight:bold;
	font-size:13px;
	vertical-align: middle;
}


#glyrics-content {
	padding: 8px;
	color:black;
	display:inline-block;
	overflow-y:auto;
	position:absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
}
#glyrics-content,#glyrics-content * {
	color: black;
}

#glyrics-content a:LINK {
	color: #cc6d1d;
}

#glyrics-content a:VISITED {
	color: #cc6d1d;
}

#glyrics-content a:HOVER {
	text-decoration: underline;
}

#glyrics-content::-webkit-scrollbar {
    width: 10px;
}

#glyrics-content::-webkit-scrollbar-thumb {
	border: 1px solid #CFCFCF;
	border-radius: 10px;
	background-color: #CFCFCF;
}

#glyrics-content::-webkit-scrollbar-track {
	background-color: #EEEEEE;
}

#glyrics-content::-webkit-scrollbar-corner {
	background-color: #EEEEEE;
}
#glyrics-content .courtesy{
	font-size: 10px;
}
#status {
	position: fixed;
	top:0px;
	left: 50%;
	margin-left: -90px;
	background-color:#FFCC66;
	color:black;
	border: solid 1px #FFCC33;
	padding: 2px 5px 2px 5px;
	display: none;
	border-radius: 5px;
}
