#lyrics-container {
	color: black;
	background-color: #121314;
	border-color: #354C00;
}

#lyrics-topbar {
	color: black;
	font-weight: bold;
	background-color: #6A9700;
}

#glyrics-content,#glyrics-content * {
	color: white;
}

#glyrics-content a:LINK {
	color: #CEE599;
}

#glyrics-content a:VISITED {
	color: #CEE599;
}

#glyrics-content::-webkit-scrollbar-thumb {
	border-color: #323438;
	background-color: #323438;
}

#glyrics-content::-webkit-scrollbar-track {
	background-color: #1c1c1f;
}

#glyrics-content::-webkit-scrollbar-corner {
	background-color: #1c1c1f;
}