#lyrics-container {
    color: black;
    background-color: white;
    border-color: #fb4337;
}

#lyrics-topbar {
    color: white;
    background-color: #fb4337;
}

#glyrics-content, #glyrics-content * {
    color: black;
}

#glyrics-content a:LINK {
    color: #FF3300;
}

#glyrics-content a:VISITED {
    color: #FF3300;
}

#glyrics-content::-webkit-scrollbar-thumb {
    border-color: #CFCFCF;
    background-color: #CFCFCF;
}

#glyrics-content::-webkit-scrollbar-track {
    background-color: #EEEEEE;
}

#glyrics-content::-webkit-scrollbar-corner {
    background-color: #EEEEEE;
}